{% for category in categories %}
<li>
    <a href="{{ path('article_category',{'cat':category.category}) }}">{{ category.category }}</a>
</li>
    {% else %}
        <p>No categories !</p>
{% endfor %}