<ul class="comment-list">
    {% for comment in comments %}
    <h5 class="post-author_head">Commented by : <a href="#" title="Posts by admin" rel="author"> {{ comment.author }} </a></h5>
    <p class="time">{{ comment.createdAt|date("d/m/Y H:i") }}</p>
    <li>
        <div class="desc">
            <p>{{ comment.body }}</p>
        </div>
        <div class="desc">
            <p>View all comments by: <a href="#" title="Comment" rel="author">{{ comment.author }}</a></p>
        </div>
        <hr />
    </li>
    {% endfor %}
</ul>
