<div class="content-form">
    <h3>Leave a comment</h3>
    <form action="{{ path('article_view',{id:id}) }}" method="post">
        <fieldset>
            <legend>New Comment</legend>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </fieldset>
    </form>
</div>