
<div class="well">
    <form action="{{ path('create_comment',{id:id}) }}" method="post">
        <fieldset>
            <legend>Leave a comment</legend>
            <div class="form-group">
                   {{ form_widget(form.body) }}
            </div>
            {{ form_row(form._token) }}
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    {{ form_widget(form.submit) }}
                </div>
            </div>

        </fieldset>
    </form>

</div>